<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Категории</title>
  <link rel="stylesheet" href="src/main/resources/static/styles.css" th:href="@{/styles.css}">
</head>
<body>

<h2 class="text-center mb-4">Добавление категории</h2>
<form method="post" action="/home/CRUDresult">
  <label>Название категории: <input name="param1"></label> <br> <br>
  <label>Возрастное ограничение: <input name="param2"></label> <br> <br>
  <input hidden value="c" name="type5">
  <button class="add-btn">Добавить</button> <br><br>
</form>

<hr><br>

<h2 class="text-center mb-4">Поиск категории</h2>
<form method="get" action="/home/indexCategoryByName">
  <input type="text" name="name" placeholder="Название категории"> <br> <br>
  <button class="add-btn">Найти</button> <br><br>
</form>

<hr>

<h2 class="text-center mb-4">Список категорий</h2>
<div th:each="category : ${categoryList}">
  <a th:href="@{/home/indexCategory/showCategory/{id}(id=${category.getCategoryID()})}" th:text="${category.getCategoryName()}">category</a>
</div>
<br><hr><br>

<center>
<div class="navigation">
  <form method="get" action="/static">
    <a class="btn btn-success btn-block mb-3 animated-button">
      Назад
    </a>
  </form>
</div>
</center>


</body>
</html>